html,body{
    height: 100%;
    margin:0;
}

html,body,h1,ul{
    margin: 0;
    padding: 0;
}

a{
    color:initial;
    text-decoration: initial;
}


ul ,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* ------------------------------------------------------- */

:root{
    --color-basic:#979797;
    --color-string:#ff6a00;
    --bg-color-basic:#fff;
    --bg-color-light:#e9e9e9;
    --bg-color-dark:#313131;
}
body{
    font-family: "돋움", Arial, Helvetica, sans-serif;
    font-size: 11px;
   

    color:var(--color-basic);
}

a{
    /* color: #979797; */
    color:var(--color-basic);
    

}

/* -------------------utils style--------------------------------- */
.d-none{
    display: none !important;
}

.truncate{
    white-space: nowrap !important;  /*글이 넘어가면 내려가지않고 옆으로 늘어남?*/
    overflow: hidden !important;
    text-overflow: ellipsis !important; /*생략 부분을 ...으로 표기하라.*/
}

.text-align-left{
    text-align: left !important;
}

.text-align-right{
    text-align: right !important;
}

.mt-2{
    margin-top: 5px !important; 
}

.mt-3{
    margin-top: 10px !important; 
}

.mt-4{
    margin-top: 15px !important; 
}


/* ---------------------content block style-------------------------- */
        .table{
            border-top: 2px solid #8CBA34;
            width: 100%; /*테이블은 넓이를 전부 갖고있지 않는다.*/
            border-collapse: collapse;
            table-layout: fixed;
            text-align: center;
        }
        
        .table tr{
            height: 30px;
            line-height: 30px;
        }

        .table thead tr{
            background-color: #f5f5f5;
        }

        .table thead td{
            background: url("../images/bg-title-sp.png") no-repeat left center ;
        }

        .table thead td:first-child{
            background: none;
        }
        
        .table td{
            border-bottom: 1px solid #e9e9e9;
            padding: 0;
        }
        .table td.w-1{
            width: 60px;
        }
        
        .table td.w-2{
            width: 100px;
        }


/* ------------component style------------------------ */
.button,
.icon,
.img{
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
}

.img-notepubs{
    background: url(../images/notepubs.png) no-repeat;
    width:180px;
    height: 50px;
}

.img-namoolab{
    background: url(../images/namoolab.png) no-repeat;
    width:180px;
    height: 50px;
}

/* -----------------------layout style---------------------------------------- */
.float-content{
    /* background-color: black; */
    width:960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height:inherit;
    opacity: 0.7;
    /* height: inherit; */
}

#root{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 205px 755px 1fr;
    grid-template-rows: 70px 171px 1fr 100px;
    grid-template-areas: 
    "header header header header"
    "visual visual visual visual"
    "body body body body"
    "footer footer footer footer";
}

#header{
    background-color: #ffffff;
    grid-area: header;
   
}

#visual{
    border-top:3px solid #8CBA34;
    background:#313131 url("../images/bg-visual.png") no-repeat center;
    grid-area: visual;
}

    #visual .float-content{
        background:#313131 url("../images/customer/visual.png") no-repeat center;
    }

#body{
    border-top:5px solid #8CBA34;
    margin-top: 1px;
    grid-area: body;
}

    #body .float-content{
        display: grid;
        grid-template-columns: 1fr 205px 755px 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: ". aside main .";

        background:url("../images/bg-body.png") repeat-y center;
    }

#aside{
    grid-area: aside;

    background:url("../images/bg-aside-title.png") no-repeat;
}

#main{    
    grid-area: main;
    padding: 45px 0px 50px 35px;

    position: relative;
}
/* 
.breadcrumb{
    position: absolute;
    right: 0px;
    top: 70px;
} */

.title-style > h1{
    font-family:"맑은 고딕", 고딕, sans-serif;
    font-size: 21px;
    font-weight: bold;
    color:#646464;

    padding: 25px;
    background:url("../images/icon-main-title.png") no-repeat left center;

 

}

.page-status > div{
    text-align: right;
}

.pager{
    display: flex;
    justify-content: center;
 
}

.pager > ul{
    display: flex;
   
  height: 15px;
  
    margin:0 4px;
  /* margin-left: 4px;
  margin-right: 4px; */

}

.pager li{
   
   line-height: 15px;
   text-align: center;
   width: 15px;
   
   
}

/* .pager li:nth-child(1){
    color: var(--color-string);
} */

.pager li a{
    color: var(--color-string);
    
}




.pager>:nth-child(2){
    height: 15px;
    width: 15px;
    background: url("../images/btnPrev.png")no-repeat center ;


}

.pager>:nth-child(4){
    height: 15px;
    width: 15px;
    background: url("../images/btnNext.png")no-repeat center ;



}

.page-status span{
    color: var(--color-string); /*변수로 만들어서 가져온 예시*/
    font-weight: bold;}

#footer{
    background-color: #313131;
    grid-area: footer;
}

/* @media screen and (min-width: 500px){

} */

@media screen and (max-width: 960px){
    
    .float-content{        
        width:100%;
    }
    
    #root{
        
        grid-template-columns: 1fr;        
        grid-template-areas: 
        "header"
        "visual"
        "body"
        "footer";
    }

    #body{        
        grid-template-columns: 1fr;    
        grid-template-areas: "main";
    }
}

/* ------------------------------------------------------------------- */

#header>.float-content{
    position: relative;
}

.logo{
    margin: 0;
    display: inline-block;

    position: relative;
    top:23px;
}

.main-menu{    
    display: inline-block;

    font-family: "맑은 고딕", "고딕", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000;

    position: absolute;
    left:200px;
    top:27px;
}
    .main-menu>ul{
        display: flex;
    }

        .main-menu>ul>li{
            padding-left:24px;
            background: url("../images/bg-main-menu-vsp.png") no-repeat 12px center;
        }

        .main-menu>ul>li:first-child{
            padding-left:0px;
            background: none;
        }

        .main-menu>ul>li>a:hover{
            color:rgb(247, 129, 34);
        }

        .member-menu{
            display: inline-block;

            position: absolute;
            right: 0px;
            top:20px;
        }
        
            .member-menu > ul{
                display: flex;    
            }
            
                .member-menu > ul > li{
                    font-family: "맑은 고딕", "고딕", sans-serif;
                    font-size:10px;
                    font-weight: bold;
                
                    padding-left: 9px;
                    background: url("../images/bg-member-menu-sp.png") no-repeat 5px;
                }
                
                .member-menu > ul > li:first-child{
                    padding-left: 0px;
                    background: none;
                }

.lecture-search-form{

    display: inline-block;

    width: 308px;
    height: 25px;
    border: 5px solid #8CBA34;

    position: absolute;
    left:468px;
    top:21px;
}

.lecture-search-form form{
    height: 100%;
}

    .lecture-search-form fieldset{
        display: flex;

        border:0;
        padding: 0;
        margin: 0;
    }

    .lecture-search-form fieldset label{
        font-size: 11px;
        font-weight: bold;
        flex-basis: 55px;

        line-height: 25px;
        text-align: center;
    }

    .lecture-search-form fieldset input[type=text]{
        flex-grow: 1;
        border:0;
        /* text-indent: 5px; */
        padding-left: 5px;
        font-size: 11px;
        font-weight: bold;
        color: cornflowerblue;
    }

    .lecture-search-form fieldset input[type=submit]{
        flex-basis:31px;        
        background: url("../images/btn-zoom.png") no-repeat center;
        
        border:0;
        border-left: 1px solid #8CBA34;
    }


.customer-menu{
    display: inline-block;
    position: absolute;
    right: 0px;
    top:40px;
}

    .customer-menu>ul{
        display: flex;
    }
        .customer-menu .mypage-button{        
            background: url("../images/txt-mypage.png") no-repeat center;
            width: 72px;
            height: 17px;        
        }

        .customer-menu .customer-button{
            background: url("../images/txt-customer.png") no-repeat center;
            width: 72px;
            height: 17px;
        }

/* --------------------------------- */
#aside > h1
{
    font-family:"맑은 고딕", 고딕, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color:#000;

    margin-top: 43px;
}

.aside-menu{
    margin-top: 10px;
}

.aside-menu > h1
{
    font-family:맑은 고딕, 고딕, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color:#000;
    padding-left: 26px;
    background: url("../images/icon-recommend.png") no-repeat left center;
}

/* ---------------------------------------------------------- */
.main-aside-menu{
    margin-top: 45px;
}

.main-aside-menu > h1{
    color:#ffffff;
    height: 27px;
    line-height: 27px;
    padding-left: 10px;
    font-size:12px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 1px#000000;
    background:url(../images/bg-aside-sub-title.png) no-repeat 0px 0px;
}

.main-aside-menu li{
    /* 배경이미지 : bg-aside-menu-hsp.png
    높이 : 26px; */
    height: 26px;    
    background: url(../images/bg-aside-menu-hsp.png) no-repeat center bottom;

}
.main-aside-menu a{
    /* 폰트 : 맑은 고딕
    가중치 : bold
    폰트크기 : 11px
    색상 : #808080 */
    font-family: "맑은 고딕", "고딕", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 11px;
    color:#808080;

    /* 왼쪽 패딩 간격 : 26px
    배경이미지 : icon-current.png
    텍스트꾸미기 : none */

    padding-left: 24px;    
}

.main-aside-menu a:hover,
.main-aside-menu a.current
{
    background: url("../images/icon-current.png") no-repeat 12px center;
}

.recommend-aside-menu {
    
}



/* ------------------------------------------------------------------------------- */
.breadcrumb{
    font-family: "맑은 고딕";
    font-weight: bold;
    font-size: 10px;
    color: #979797;
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 70px;
}

    .breadcrumb>ol{
        display: flex;
    }

        .breadcrumb>ol>li{
            padding-left: 10px;
            background: url("../images/icon-path.png") no-repeat 0px center;
        }

        .breadcrumb>ol>li:first-child{
            padding-left: 20px;
            background: url("../images/icon-home.png") no-repeat 0px center;
        }

        .search-form{
            margin-top: 26px;
        }











/* .notice-board td :nth-child(1){

}

.notice-board td .???{

} */
