html{
    font-size: 20px;
}
 
 
 body{
    margin: 0px;
    /* margin방과 방 사이에 있는 빈 공간 */
    font-size: 20px;

}

/* ------------------------------------------------ */

.float-content{
    background-color: blueviolet;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    min-height: inherit;
    opacity: 0.7;
}

#header{
    
    /* em은 폰트사이즈를 배로 늘린다 */
    /* em은 이 구역에서 설정된 폰트 사이즈 기준!! */
    font-size: 70px;
    background-color: yellow;
}

#visual{
    background-color: red;
    /* font-size: 1rem; */
    /* rem은 다른 폰트사이즈 설정에 영향을 받지 않는다 */
    /* rem은 최상위 html폰트 사이즈에서만 적용!! */
    height: 171;
}


#body{
    background-color: green;
    min-height: 300px;
}

#body>.float-content{
    display: flex;
}

#aside{
    width: 205px;
    height: inherit;
    background-color: yellow;
}

main{
    width: 755;
    height: inherit;
    background-color: red;
}

/* min함수는 비교가 가능한 값이 주어졌을때 더 작은값을 쓴다.
2.상속받았을 경우 ex) min(100px,60%) 부모 크기가100px이면 자식의 값은
60%인 60px가 된다 */

/* 자식은 min 을 상속받을 수 없다 하려면 같이 min을 써라 */

#footer{
    background-color: blue;
    height: 100px;
}
