html,body{
    height: 100%;
    margin:0;
}

a{
    color:initial;  /*initial 속성의 초깃값(기본값)을 요소에 적용합니다. 초깃값은 브라우저가 지정합니다.*/
    text-decoration: initial; /*text-decoration CSS 단축 속성은 글씨의 장식(선) 색을 지정합니다*/
                              /*링크 아래에 -----선을 없애줌*/
}

/* ul은 옆에 패딩과 마진이 남게되어 둘다 0으로 */
ul{
    list-style: none; /*ul로 만들면 왼쪽에 점이 있는게 그 점을 없애줌*/
    padding: 0; /*감싸진 ul밖에 paddinng이랑 margin이 있었음(잘 찾아보기)*/
    margin: 0;
}

ol{
    list-style: none; /*ol은 만들면 옆에 숫자가 뜨는데 그걸 없애줌*/
    padding: 0;
    margin: 0;
}


/* -------------------------------------------------------------------------------- */

/* 보여지기 싫은 */
.d-none{
    display: none; 
    /* !important 우선순위를 제일 앞에 둔다 */

}
/* ------------------------------------------------------------------ */

.button{
    display: inline-block; /*전후 줄바꿈 없이 나란히 배치가되고 inline에서 불가능하던 높이 너비 margin padding속성 지정이 가능해짐*/
    text-indent: 90px; /*옆으로 내어쓰기*/
    overflow: hidden; /*컨텐츠 크기가 레이아웃에서 벗어나면 어떻게 할 것이지를 정해주는 속성(스크롤을 만들것이냐, 빠져나온부분을 없앨것이냐등)*/
}



/* --------------------------------------------------------------- */
.float-content{
    /* background-color: black; */
    width:960px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height:inherit;
    opacity: 0.7;    
    /* height: inherit; */

}

#visual .float-content{
    background:#313131 url("../images/customer/visual.png") no-repeat center;

}

#root{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 250px 750px 1fr;
    grid-template-rows: 70px 171px 1fr 100px;
    grid-template-areas: 
    "header header header header"
    "visual visual visual visual"
    "body body body body"
    "footer footer footer footer";
}

#header{
    background-color: white;
    grid-area: header;
}

#header>.float-content{
    position: relative;
}

#visual{
    border-top:3px solid #8CBA34;
    background:#313131 url("../images/bg-visual.png") no-repeat center;
    grid-area: visual;
    
}

#body{
    border-top: 5px solid #8CBA34;
    margin-top: 1px;
    grid-area: body;

    
}

#body .float-content{
    display: grid;
    grid-template-columns: 1fr 205px 755px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". aside main .";  
    /* 그리드 안쪽에 있는 바디에 또 한번 그리드를 채웠다 */
    background:url("../images/bg-body.png") repeat-y center;
}

#aside{
    /* background-color: blue; */
    grid-area: aside;
    background:url("../images/bg-aside-title.png") no-repeat;
}

#main{
    /* background-color: blueviolet; */
    
    grid-area: main;
}

#footer{
    background-color: #313131;
    grid-area: footer;
}

/* @media screen and (min-width: 500px){

} */

@media screen and (max-width: 960px){
    #root{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "visual"
        "body"
        "footer";
    }

    #body{

        grid-template-columns: 1fr;
        
        grid-template-areas: "main";  
        
    }

    .float-content{

        width:100%;

    
    }

 
}

.main-menu{
    display: inline-block;
    font-family: "맑은 고딕", "고딕", 'Franklin Gothic Medium', 'Arial Narrow', 'Arual', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    position: absolute;
    top: 27px;
    left: 200px;
}

.logo{
    margin: 0;
    display: inline-block;
    position: absolute;  /*relative/fixed/sticky*/
    left: 0;
    top: 23px;
    /* 기준점이 달라서 left나 top이 각각 달라진다 */
    /* absolute->문서기준 좌상단  relative->원위치 fixed->화면기준 좌상단 */
    
   
}



.main-menu>ul{
    display: flex

}

.main-menu>ul>li{
    padding-left: 24px;
    background: url("../images/bg-main-menu-vsp.png")no-repeat 12px center;
    /* li사이에 구분될수있게..... 12px로 가운데 */
    
   
}

/* .main-menu>ul>li.first{
    padding-left: 0px;
   background: none;

} */

.main-menu>ul>li:nth-child(1){
    padding-left: 0px;
    background: none;
    /* 간단하게 몇번째를 선택할지를 고를 수 있다. */
}

.main-menu>ul>li>a:hover{
    color: #e07a1a;
    /* 링크에 마우스를 올렸을때 바뀌는 색 */
}


.member-menu{
    display: inline-block;

    position: absolute;
    right: 0px;  /**/
    top: 21px;
}

.member-menu>ul{
    display: flex

}

.member-menu>ul>li{
    padding-left: 24px;
    background: url("../images/bg-member-menu-sp.png")no-repeat 9px center;
  
    font-family: "맑은 고딕";
    /* font-style: "맑은 고딕"; */
    font-weight: bold;
    font-size: 10px;
    
   
}

.member-menu>ul>li:nth-child(1){
    padding-left: 0px;
    background: none;

}

.member-menu>ul>li>a:hover{
    color: #979797;
  
}


.breadcrumb>ol{
    display: flex;
}

.breadcrumb>ol>li{
    padding-left: 20px;
    background: url("../images/icon-path.png")no-repeat 10px center;
  
  
    font-weight: bold;
    font-size: 10px;
    
   
}

.breadcrumb>ol>li:nth-child(1){

    background: url("../images/iconHome.png")no-repeat 0px center;
  
   

}

.lecture-search-form{
    display: inline-block;
    width: 308px;
    height: 25px;
    border: 5px solid ;
    border-color: #8CBA34;    
    position: absolute;
    top: 21px;
    left: 468px;
    
    
}


.lecture-search-form fieldset{
    display: flex;

    border: 0;
    padding: 0;
    margin: 0;
    
}

.lecture-search-form fieldset label{
    font-size: 11px;
    font-weight: bold;
    width: 55px;


    height: 25px;
    line-height: 25px;
    text-align: center;
 
}


.lecture-search-form fieldset input[type=text]{
    flex-grow: 1;
    border: 0;
    /* text-indent: 5px; */
    padding-left: 5px;
    font-size: 11px;
    font-weight: bold;
    color: blue;
}

.lecture-search-form fieldset input[type=submit]{
    /* flex-basis: 31px; */
    width: 31px;
    height: 25px;
    background: url("../images/btn-zoom.png")no-repeat center;
    
    border: 0px ;
    border-left: 1px solid #8CBA34;    
}




.customer-menu{

    display: inline-block;
    position: absolute;
    right: 0px;
    top: 40px;
}

.customer-menu>ul{
    display: flex;
}

    .customer-menu .mypage-buttonn {
        background: url("../images/txt-mypage.png")no-repeat center;
        
        display: inline-block;
        width: 72px;
        height: 17px;
        text-indent: -999px;
        overflow: hidden;

        /* width: 72px; text-indent: 50px; 둘다 블럭태그에만 적용이 가능한 속성이다 */
    }

    .customer-menu .customer-button{
        background: url("../images/txt-customer.png")no-repeat center;
        
        display: inline-block;
        width: 72px;
        height: 17px;
        text-indent: -999px;
        overflow: hidden;

        /* width: 72px; text-indent: 50px; 둘다 블럭태그에만 적용이 가능한 속성이다 */
    }