html, body{
    height: 100%;
    margin: 0;
}

#wrapper{
    width: 100%;
    position: relative;
}

#header{
    text-align: center;
}

#main{
    width: 460px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

}


.box{
    padding: 10px 14px;
    /* background-color: red; */
    display: block;
    /* width: 100%; */
    border: solid 1px #dadada;
    margin-top: 10px;
    border-radius: 8px;
}

#txt{
    width: 100%;
    border-style: none;
}