html,body{
    height: 100%;
    margin: 0;

}

body{
    height: 100%;
    margin: 0;
    
   
  
    
}

#header{
    background-color: yellow;
    height: 200px;
    
    

}

/* .login{
    display: flex;
    justify-content: space-around;
} */
    


#aside{
    background-color: yellowgreen;
}

#main{
    background-color: yellow;
}