html,body{
    height: 100%;
    margin: 0;
    /* 부모크기가 있어야 자식 크기도 커질수가 있음 */
}

/* #container{
    height: 100%;
    display: grid;
    grid-template-columns: 250px auto;
    grid-row: 80px auto 100px;
} */

 #root{

    gap: 10px;

} 
.box1{
    background-color: rgb(214, 223, 97);
    margin: 5px;
}

.box2{
    background-color: rgb(214, 223, 97);
    margin: 5px;
}

.box3{
    background-color: rgb(214, 223, 97);
    margin: 5px;
}

.box4{
    background-color: rgb(214, 223, 97);

    margin: 5px;
}

.box5{
    background-color: rgb(214, 223, 97);
    margin: 5px;
}

.box6{
    background-color: rgb(214, 223, 97);
    margin: 5px;
}


@media screen and (min-width: 500px) {
    #root {
        height: 100%;
      display: grid;
      /* gap: 10px; */
        grid-template-columns: 250px 1fr;
        grid-template-rows: 1fr 1fr 250px 1fr ;

        grid-template-areas: 
        "header header"
        "visual visual"
        "aside main"
        "footer 2footer"
        
        
    }

    .box1{
        background-color: rgb(214, 223, 97);
        grid-area: header;
        
    }

    .box2{
        background-color: rgb(214, 223, 97);
        grid-area: visual ;
        
    }

    .box3{
        background-color: rgb(214, 223, 97);
       grid-area: aside;
       
    }

    .box4{
        background-color: rgb(214, 223, 97);
     grid-area: main;
        
    }

    .box5{
        background-color: rgb(214, 223, 97);
        grid-area: footer;
    }

    .box6{
        background-color: rgb(214, 223, 97);
        grid-area: 2footer;
    }
  }

  @media screen and (min-width: 800px) {
    #root {
        height: 100%;
      display: grid;
      /* gap: 10px; */
        grid-template-columns: 250px 1fr 1fr;
        grid-template-rows: 1fr 125px 125px 1fr ;

        grid-template-areas: 
        "header header header"
        "aside main rside"
        "aside main urside" 
        "footer footer footer"
              
    }
    .box1{
        background-color: rgb(214, 223, 97);
        grid-area: header;
        
    }

    .box2{
        background-color: rgb(214, 223, 97);
        grid-area: aside ;
        display: flex;
        justify-content: space-between;
        
    }

    .box3{
        background-color: rgb(214, 223, 97);
        grid-area: rside;
    }

    .box4{
        background-color: rgb(214, 223, 97);
       
       grid-area: main;
        
    }

    .box5{
        background-color: rgb(214, 223, 97);
        grid-area: urside;
    }

    .box6{
        background-color: rgb(214, 223, 97);
        grid-area: footer;
    }


}






/* 스크린에 크기가 가로 500이상일 경우 */
/* @media screen and (min-width: 500px) {
    #root {
      font-size: 80px;
      color: white;
    }
  } */